# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
# ignore root .env
.env
# but allow backend specific env file
!backend/.env

# Node
node_modules/
.env.local

# Build outputs
frontend-react/dist/

# OS
.DS_Store
Thumbs.db
